

.expertise_1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
 .expertise_1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
 .expertise_1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(172, 41, 41, 0.315);
    z-index: -1;
    transition: transform .3s ease;
  }

  .expertise_1 {
    position: relative;
  }


  
.expertise_2::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
 .expertise_2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
 .expertise_2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(0, 107, 32, 0.315);
    z-index: -1;
    transition: transform .3s ease;
  }

  .expertise_2 {
    position: relative;
  }



  
.expertise_3::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
 .expertise_3:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
 .expertise_3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(19, 0, 187, 0.315);
    z-index: -1;
    transition: transform .3s ease;
  }

  .expertise_3 {
    position: relative;
  }